<h1>Username: <%=@user.username%></h1>
<h3><%=pluralize(@user.posts.count,'Post')%></h3>
<h4>List of your posts</h4>
<ol>
  <% @user.posts.each do |p| %>
    <li><%= link_to p.title, post_path(p) %></li>
  <% end %>
</ol>
