<h1>Post Central</h1>

<h4>Go To <%=link_to "Categories", categories_path %></h4>

<ul>
  <%@posts.reverse.each do|post|%>
  <li>Category: <%=post.category.name%> <br>
    Post: <%=link_to post.title, post_path(post)%> Created on: <%=post.created_at%>
  </li>
  <%end%>
</ul>
